@charset "utf-8";
body {
  width: 100%;
}
.header {
  background: #ffffff;
  padding: 15px 0px;
  width: 100%;
  position: sticky;/*通常のポジションに存在させる*/
  top: 0;/*場所の固定*/
  z-index: 1;/*重なり順の際に1番上にする*/
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.header-icon {
  color: #777;
}
.button {
  background: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
  text-decoration: none;
  text-align: center;
  color:#fff;
  transition-duration: 0.3s;
  float: right;
}
.button:hover {
  color:#333;
}
.humberger {
  position: relative;
  height: 46px;
  width: 46px;
  display: none;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #444;
  border-radius: 4px;
  float:right;
}
.humberger div {
  position: absolute;
  right: 7px;
  height: 2px;
  width: 28px;
  background-color: #444;
  border-radius: 2px;
  display: none;
  box-sizing: border-box;
}
.humberger div:nth-of-type(1) {
  bottom: 30px;
}
.humberger div:nth-of-type(2) {
  bottom: 20px;
}
.humberger div:nth-of-type(3) {
  bottom: 10px;
}
/*背景画像*/
.container {
  background-image: url(../img/keyvisual/keyvisual.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 400px 0px;
}

h1 {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  letter-spacing: 1px;
}
.container h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 30px;
  letter-spacing: 3px;
}
/*画像と文章エリアここから*/
.work {
  background: #e3f2fd;
  width: 100%;
  padding-top: 50px;
}
.work h2 {
  font-size: 40px;
  letter-spacing: 10px;
}
.work p {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  margin-top: 35px;
}
.work-inner {
  display: flex;
}
.work-img {
  width: 440px;
  text-align: center;
}
.work img {
  width: 230px;
}
.work-word {
  width: 660px;
  text-align: center;
  margin-top: 20px;
}
.skills {
  background-color: #fff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
  font-size: 40px;
  letter-spacing: 10px;
}
.grid-inner {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  gap: 100px;
  margin-top: 50px;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
}
.grid-inner img {
  width: 300px;
  height: 300px;
  transition-duration: 0.7s;
  opacity: 0.7;
}
.grid-inner img:hover {
  opacity: 1;
}
.grid-inner li {
  height: 300px;
}
/*画像と文章エリアここまで*/
/*SELECR PLANエリアCSS ここから*/
.plan {
  background-color: #d0dfea;
  text-align: center;
  padding: 50px 0px;
}
.plan h2 {
  font-size: 40px;
  letter-spacing: 10px;
  margin-bottom: 50px;
}
.plan-table {
  table-layout: fixed;/*表の幅を指定する*/
  width: 1100px;
  margin: 0 auto;
}
.plan-table thead th {
  padding: 10px;
  font-size: 16px;
  background-color: #6ba7eb;
  line-height: 26px;/*行間指定*/
  border-left: 2px solid #fff;
}
.plan-table tbody th {
font-size: 16px;
line-height: 26px;
}
.plan-table td {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;/*行間指定*/
  border-left: 2px solid #fff;
}
.plan-table thead th:first-child {
  border: none;
}
.plan-table tr:nth-child(odd) {/*奇数指定*/
  background-color: #f9f9f9;
}
.plan-table tr:nth-child(even) {/*偶数指定*/
  background-color: #e0efff;
}
/*SELECT PLANエリアここまで*/
/*iconエリアここから*/
.sns {
  background: #e3f2fd;
  padding: 200px 0px;
}
.sns-inner {
  text-align: center;
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
}
.sns-inner a {
  width: 185px;
  height: 60px;
  color: #8c8c8c;
  overflow: hidden;/*要素が多い時に隠れるようになる*/
  font-size: 40px;
  text-decoration: none;
  transition-duration: 0.5s;/*動作0.5秒遅く*/
  display:block;
  padding: 25px 0px;
}
.sns-inner a:hover {/*触れると背景が変わる*/
  background: #fff;
}
/*footerエリア CSS*/
footer {
  background: #cfd8dc;
  width: 100%;
}
.footer-inner {
  display: flex;
  justify-content: end;/*幅指定末尾*/
}
.footer-inner p {
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 10px;
  letter-spacing: 0.5px;/*行スペース*/
}
/*footerエリアここまで*/

/*レスポンシブデザイン1190px max*/
@media screen and (min-width:1101px) and ( max-width:1199px) {
  .inner {
    width: 97%;
  }
   .container {
    padding: 250px 0px;
   }
   .work {
    padding-bottom: 50px;
  }
  .work-inner {
    display: block;
  }
  .work-img {
    width: 100%;
  }
  .work-word {
    width: 100%;
  }
  .grid-inner {
    grid-template-columns: none;
    grid-template-rows: none;
    gap: normal;
    display: flex;
    margin: 0px;
    flex-direction: column;
    align-items: center;
  }
  .grid-inner li {
    height: 300px;
  }
  .grid-inner li:nth-of-type(1){
    margin-top: 50px;
  }
  .grid-inner li:nth-of-type(4n){
    margin-top: 80px;
  }
}
/*spエリアここから*/
@media screen and (min-width:0px) and (max-width:767px) {
.inner {
  width: 97%;
}
.button {
  display: none;/*消す*/
}
.humberger {
  display:block;/*表す*/
 }
 .humberger div {
  display: block;
 }
 .humberger div:nth-of-type(1) {
  bottom: 10px;
}
.humberger div:nth-of-type(3) {
  bottom: 30px;
}
 .container {
  padding: 200px 0px;
 }
  h1 {
  font-size: 40px;
}
.container h2 {
  font-size: 30px;
}
.work {
  padding-bottom: 50px;
}
.work-inner {
  display: block;
}
.work-img {
  width: 100%;
}
.work-word {
  width: 100%;
}
.grid-inner {
  display: block;
  grid-template-columns: none;
  grid-template-rows: none;
  gap: normal;
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
}
.grid-inner li:nth-of-type(1){
  margin-top: 50px;
}
.grid-inner li:nth-of-type(4n){
  margin-top: 80px;
}
.plan-table {
  width: 100%;
}
.plan-table thead th {
  line-height: 22px;
  font-size: 14px;
}
.plan-table tbody th {
  line-height: 22px;
  font-size: 14px;
}
.plan-table td {
  font-size: 12px;
}
.sns {
  padding: 50px 15px;
}
.sns-inner {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.sns-inner a {
  padding: 50px 0px;
}
}
